

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: #0369a1 !important; /* sky-700 */
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.25) !important;
  font-weight: 700;
}


:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #ffffff !important;
}


:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
}


:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header,
:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-footer {
  border-color: rgba(3, 105, 161, 0.25) !important;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background: rgba(3, 105, 161, 0.06) !important;
}

:host ::ng-deep .egresados-table .tag-2line {
  max-width: 240px;              
  white-space: normal !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;         
  -webkit-box-orient: vertical;
  line-height: 1.2;
  text-align: center;
}


:host ::ng-deep .egresados-table .col-nombre .tag-2line {
  max-width: 200px;
}

:host ::ng-deep .egresados-table .col-rentas .tag-2line {
  max-width: 260px;
}
:host ::ng-deep .egresados-table .col-acciones {
  text-align: center;
  vertical-align: middle;
}

:host ::ng-deep .egresados-table .acciones-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
